/.idea/
data/
scripts/
dist/
ctd_pa_lambda_discovery/
ctd_pa_to_discovery/
python/
test_venv/
build/
tools/

# Configuration files
*.yaml
*.yml
trigger.json
*.env
*.pyc
*.zip

/logs/

# temp buckets
xml_input/
json_outputs/

# specific notebooks
notebooks/

# vscode related
ctd-pa-transformations-for-discovery.code-workspace
.vscode/