/.idea/
.vscode/
data/
scripts/

# Configuration files
*.yaml
*.yml
trigger.json
*.env
*.pyc

/logs/

# temp buckets
xml_input/
json_outputs/

notebooks/*
!notebooks/testing_*.ipynb
notebooks/testing_marco.ipynb
