/.idea/
.vscode/
data/
scripts/
dist/
ctd_pa_lambda_discovery/
python/


# Configuration files
*.yaml
*.yml
trigger.json
*.env
*.pyc
*.zip

/logs/

# temp buckets
xml_input/
json_outputs/

notebooks/*
!notebooks/testing_*.ipynb
notebooks/testing_marco.ipynb
ctd-pa-transformations-for-discovery.code-workspace

# AWS deployment scripts (contain sensitive AWS configuration)
build/publish_lambda.ps1
build/publish_lambda.sh
